body {
}

.container.weather-app {
  border: 1px solid grey;
  border-radius: 3px;
  max-width: 300px;
  height: 485px;
  padding: 20px;
  margin: 30px auto;
}

.current-weather {
  font-weight: 500;
  color: rgb(58, 57, 57);
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60%;
  position: relative;
  top: 50px;
}

#big-icon {
  font-size: 55px;
  color: rgb(114, 211, 250);
  padding: 13px 0 0 0;
}

#current-temperature {
  font-size: 55px;
}

#degrees {
  text-align: center;
  font-weight: 900;
  color: grey;
  position: relative;
  bottom: 95px;
}
#celsius,
#farenheit {
  text-decoration: none;
  color: rgb(114, 211, 250);
}

#current-city,
#current-country {
  text-align: left;
  margin-left: 10px;
}

#current-time,
#current-date {
  text-align: right;
  margin-right: 10px;
}

#current-city,
#current-time {
  color: rgb(71, 78, 81);
  font-weight: 600;
  font-size: 20px;
  margin-top: 60px;
}

#current-country,
#current-date {
  font-weight: 200;
  font-size: 15px;
}

#weather-conditions {
  color: grey;
  text-align: center;
  font-size: 65%;
  padding: 20px 10px;
}
