.container.weather-app {
  border: 1px solid grey;
  border-radius: 3px;
  max-width: 300px;
  height: 485px;
  padding: 20px;
  margin: 30px auto 0;
}

.current-weather {
  font-weight: 500;
  color: rgb(58, 57, 57);
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60%;
  position: relative;
  top: 50px;
}

#big-icon {
  font-size: 55px;
  color: rgb(114, 211, 250);
  padding: 13px 0 0 0;
}

#current-temperature {
  font-size: 55px;
}

#degrees {
  text-align: center;
  color: grey;
  position: relative;
  bottom: 125px;
}
#celsius,
#farenheit {
  text-decoration: none;
  color: rgb(114, 211, 250);
  font-weight: 900;
}

#description {
  text-align: center;
  font-weight: 100;
  scale: 85%;
  color: grey;
}

#description:first-letter {
  text-transform: capitalize;
}

#current-city,
#current-country {
  text-align: left;
  margin-left: 10px;
}

#current-time,
#current-date {
  text-align: right;
  margin-right: 10px;
}

#current-city,
#current-time {
  color: rgb(71, 78, 81);
  font-weight: 600;
  font-size: 20px;
  margin-top: 60px;
}

#current-country,
#current-date {
  font-weight: 200;
  font-size: 15px;
}

#weather-conditions {
  color: grey;
  text-align: center;
  font-size: 65%;
  padding: 20px 10px;
  font-weight: 100;
}

input {
  text-align: center;
  max-width: 35%;
}

#location-form {
  box-sizing: border-box;
  text-align: center;
}

#locate-user {
  color: rgb(114, 211, 250);
  margin-left: 5px;
  font-size: 110%;
}

#location-input {
  border: 1px solid rgb(114, 211, 250);
  border-radius: 20px;
}
#search-button {
  border: 1px solid rgb(114, 211, 250);
  border-radius: 20px;
  color: rgb(55, 62, 65);
  padding: 0 15px;
}

.weekDays {
  font-size: 65%;
  color: grey;
  margin: 0;
  padding: 0;
}

.week-prediction {
  margin-top: 70px;
}

.weekDays {
  font-size: 65%;
}

.week-icons {
  color: rgb(114, 211, 250);
  font-size: 95%;
}

#footer {
  text-align: center;
  font-size: 10px;
}

#source-code {
  color: rgb(114, 211, 250);
}
